.main-window {
  background: linear-gradient(
    to right,
    var(--dark-khaki),
    var(--dark-khaki) 5%,
    var(--khaki) 5%,
    var(--khaki) 10%,
    var(--light-khaki) 10%,
    var(--light-khaki) 90%,
    var(--khaki) 90%,
    var(--khaki) 95%,
    var(--dark-khaki) 95%
  );
  min-height: 100vh;
}

.main-area{
  margin-top: 70px;
}

@media screen and (max-width: 900px) {
  .main-area{
    margin-top: 0px;
  }
}
