.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-container{
  border-radius: 50%;
  padding:10px;
  animation: 12s rotate-right linear infinite; 
  background: 
      linear-gradient(0deg,transparent 43%,var(--dark-gray) 43%,var(--dark-gray) 57%, transparent 57%),
      linear-gradient(30deg,transparent 45%,var(--dark-gray) 45%,var(--dark-gray) 55%, transparent 55%),
      linear-gradient(60deg,transparent 45%,var(--dark-gray) 45%,var(--dark-gray) 55%, transparent 55%),
      linear-gradient(90deg,transparent 43%,var(--dark-gray) 43%,var(--dark-gray) 57%, transparent 57%),
      linear-gradient(120deg,transparent 45%,var(--dark-gray) 45%,var(--dark-gray) 55%, transparent 55%),
      linear-gradient(150deg,transparent 45%,var(--dark-gray) 45%,var(--dark-gray) 55%, transparent 55%);
}

.inner-ring{
  background-color: var(--dark-gray);
  padding:5px;
  border-radius: 50%;
}

.inner-container{
  border-radius: 50%;
  padding:10px;
  /* border: 4px dotted var(--light-blue); */
  background: 
      linear-gradient(0deg,transparent 43%,var(--light-blue) 43%,var(--light-blue) 57%, transparent 57%),
      linear-gradient(30deg,transparent 45%,var(--light-blue) 45%,var(--light-blue) 55%, transparent 55%),
      linear-gradient(60deg,transparent 45%,var(--light-blue) 45%,var(--light-blue) 55%, transparent 55%),
      linear-gradient(90deg,transparent 43%,var(--light-blue) 43%,var(--light-blue) 57%, transparent 57%),
      linear-gradient(120deg,transparent 45%,var(--light-blue) 45%,var(--light-blue) 55%, transparent 55%),
      linear-gradient(150deg,transparent 45%,var(--light-blue) 45%,var(--light-blue) 55%, transparent 55%);
  animation: 6s rotate-left linear infinite;
}
.port-img{
  position: absolute;
  border-radius: 50%;
  border: solid 5px var(--light-blue);
}

@keyframes rotate-right {
  0% { 
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(360deg); 
  }
}

@keyframes rotate-left {
  0% { 
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(-360deg); 
  }
}

