:root {
  --white: #ffffff;
  --light-blue: #49B0FF;
  --dark-gray: #2F2F2F;
  --dark-khaki: #555555;
  --khaki: #cccccc;
  --light-khaki: #aaaaaa;
}

@media (prefers-reduced-motion: no-preference) {
}