:root {
  --white: #ffffff;
  --light-blue: #49b0ff;
  --dark-gray: #2f2f2f;
  --dark-khaki: #555555;
  --khaki: #cccccc;
  --light-khaki: #aaaaaa;
}

@media (prefers-reduced-motion: no-preference) {
}
